<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .messageGreen {color:green;}
      .messageRed {color:red;}
      .inputGreen {border-color:green;}
      .inputRed {border-color:red;}
    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js">
    </script>
    <script type="text/javascript" src="app.js">
    </script>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController" >
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="input{{inpColor}} form-control" ng-model="dishes">
         </div>
         <div class="form-group">
             <button ng-click="check();" class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message message{{msgColor}}">
           <!-- Your message can go here. -->
           {{message}}
         </div>
   </div>

</body>
</html>
